.app {
  position: relative;
  display: flex;
  height: 100%;
  overflow: hidden;
}

.app-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  width: 100%;
  padding-left: 20%;
  overflow: auto;
}

.hide {
  display: none;
}