@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFF;
  color: rgb(28, 37, 54);
  ;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.root {
  height: 100%;
}